<!doctype html>
<html>
<head>
    <title>Map My Learning</title>
    <!-- Style -->
    <link href="/static/style.css" rel="stylesheet"></link>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <!-- Javascript imports -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body>
    {% block content %}
    
{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}


    Put your body here.
{% endblock %}

</body>
</html>
