{% extends 'base.html' %}
{% block content %}

<title> {{ measure_object.flag }} </title>
  <div id="content" class="bs-docs-header" tabindex="-1">
    <div class="container">
      <div class="col-xs-9">
        <h2> {{ measure_object.flag }} </h3>
      </div>
    </div>
  </div>


<!-- <title> {{ measure_object.flag }} </title> -->
<!-- <script src="/static/js/surveys.js"></script> -->
<div class="container">
    <div class="col-lg-9">
        <!-- <h2> {{ measure_object.flag }} </h2> -->

        <form id="survey" action="/end-of-class-survey/" method="POST">
            <!-- TO DO: Check the open/close relationship for all these tags -->
            
            <div class="form-group">           
                {% for question in q_list %}
                    {% if question.question_type == "Likert scale" %} 
                        <ul>
                            <li><b> {{ question.prompt }} </b></li>
                                {% for choice in question.answer_choices %}  
                                    <li class="responses"><input type="radio" name= "{{ question.question_id }}" value= "{{ choice.value }}" > {{ choice.text }}</li> 
                                {% endfor %}
                        </ul>
                    {% endif %}

                    {% if question.question_type == "percent" %} 
                        <ul>
                            <li><b> {{ question.prompt }} </b></li>
                                {% for choice in question.answer_choices %}  
                                    <li class="responses"><input type="radio" name= "{{ question.question_id }}" value= "{{ choice.value }}" > {{ choice.text }}</li> 
                                {% endfor %}
                        </ul>
                    {% endif %}

                    {% if question.question_type == "free response" %} 
                        <ul>
                            <li class="responses"><b> {{ question.prompt }} </b></li>
                            <input type="textarea" id="styled" name=  "{{ question.question_id }}">
                        </ul>
                    {% endif %}
                <br>{% endfor %}
                    
            <div>
                <input type="hidden" name="student_measure_id" value= "{{ student_measure_id }}">
            </div>

            <div>
                <input type="submit" value="Submit">
            </div>
            <div>

        </form>
    </div>
</div>

{% endblock %}