<!-- TO DO: Remove skewers from file name -->
{% extends 'base.html' %}
{% block content %}
<!-- <script src="/static/js/surveys.js"></script> -->

<h2>Today's Learning Objective: TO DO</h2>

<form id="survey" action="/end-of-class-survey/" method="POST">

    <div>
        <label>
            
            {% for question in q_list %}
                {% if question.question_type == "Likert scale" %} 
                    <li> {{ question.prompt }} </li>
                        <ul>
                            {% for choice in question.answer_choices %}  
                                <li class="responses"><input type="radio" name= "{{ question.question_id }}" value= "{{ choice.value }}" > {{ choice.text }}</li> 
                            {% endfor %}
                        </ul>
                {% endif %}
                {% if question.question_type == "Free response" %} 
                    <li class="responses"> {{ question.prompt }} </li>
                    <input type="textarea" name=  "{{ question.question_id }}">
                {% endif %}
            {% endfor %}
            </ol>
    <div>
        <input type="hidden" name="student_measure_id" value= "{{ student_measure_id }}">
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

{% endblock %}