{% extends 'base.html' %}
{% block content %}
<title>Learning Maps</title>

<h3>My Learning Map</h3>

 <!-- <div class="row">
    <div class="col-xs-6">  -->
  
      <div class="learning-map">
        <canvas id="lineChart"></canvas>
        <div id="lineLegend" class="chart-legend"></div>
      </div>

      <div class="learning-map">
        <canvas id="donutChart"></canvas>
        <div id="donutLegend" class="chart-legend"></div>
      </div>
    <!-- </div>
  </div> -->


  <script>
    var options = {
      responsive: true
    };

    // Make Line Chart of average self-ratings over time
    var ctx_line = $("#lineChart").get(0).getContext("2d");

    $.get("/objective-averages.json", function (data) {
      var myLineChart = Chart.Line(ctx_line, {
                                    data: data,
                                    options: options
                                });
      $("#lineLegend").html(myLineChart.generateLegend());
    });


    // Make Donut Chart of percent of different types of Melons
    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/objective-counts.json", function (data) {
      var myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend').html(myDonutChart.generateLegend());
    });

  </script>
    
{% endblock %}